@charset "utf-8";

// base
@import "core/settings";          // color + font variables
@import "core/normalize";         // css reset
@import "core/mixins";            // utilities
@import "core/base";              // base helpers and typographical styles

// third party components
//@import "components/bootstrap";   // buttons + dropdowns
@import "components/prism";       // code highlighting

@import "content/docs";



@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: initial;
}

header {
  overflow: hidden;
  position: relative;
}

.header-bg-color {
  background-image: linear-gradient(-90deg,#ff8321,#f4645f);
  background-image: -webkit-gradient(linear,right top,left top,from(#ff8321),to(#f4645f));
}

header .overlay:before {
  left: -680px;
  width: calc(100% + 680px);
}

header .overlay:after {
  left: -660px;
  width: calc(100% + 2000px);
}

header .overlay:before, header .overlay:after{
  content: "";
  background: url(../images/pattern_2.png) repeat-x 50%;
  background-size: 1440px;
  bottom: 0;
  display: block;
  height: 115px;
  position: absolute;
}

header .mask {
  background-color: #f7fafc;
  -webkit-mask-image: url(../images/pattern_sm.png);
  mask-image: url(../images/pattern_sm.png);
  -webkit-mask-size: 1440px;
  mask-size: 1440px;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: center;
  mask-position: center;
  height: 55px;
}

header .overlay:after, header .overlay:before {
  bottom: -35px;
}

object svg {
  fill: #ffffff !important;
}

.no-redis{
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  @apply no-underline;
}

ul {
  list-style: none;
}

.no-outline {
  outline: none;
}

.tag {
  @apply text-xs mr-3 mt-2 pl-2 pr-2 pt-1 pb-1 bg-grey-lightest text-grey;
}

.italic {
  font-style: italic;
}

.container {
  @apply pl-4 pr-4;
}

.head-link a {
  opacity: .6;
}

.head-link a:hover {
  @apply opacity-100;
}

.head-link .active{
  opacity: 1 !important;
}

.bg-black-1 {
   background-color: rgba(0,0,0,.1)
}

article{
  margin-left: 0 !important;
  padding: 0 !important;
  ul {
    list-style: unset;
  }

  ul li {
    margin: 8px;
    line-height: 1.65;
  }

  h1 {
    font-size: 48px;
    font-weight: 200;
    margin: 0.67em 0;
  }

  h2 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}

