@charset "utf-8";

// base
@import "core/settings";          // color + font variables
@import "core/normalize";         // css reset
@import "core/mixins";            // utilities
@import "core/base";              // base helpers and typographical styles

// third party components
//@import "components/bootstrap";   // buttons + dropdowns
@import "components/prism";       // code highlighting

@import "content/docs";



@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: initial;
}

.no-redis{
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  @apply no-underline;
}

ul {
  list-style: none;
}

.no-outline {
  outline: none;
}

.tag {
  @apply text-xs mr-3 mt-2 pl-2 pr-2 pt-1 pb-1 bg-grey-lightest text-grey;
}

.italic {
  font-style: italic;
}

.container {
  @apply pl-4 pr-4;
}

article{

  ul {
    list-style: unset;
  }

  ul li {
    margin: 8px;
    line-height: 1.65;
  }

  h1 {
    font-size: 48px;
    font-weight: 200;
    margin: 0.67em 0;
  }

}

